<div class="dialog">
    <div class="dialog-header">
        <h2>Detalles de la Incidencia General</h2>
        <button class="btn-cerrar" (click)="cerrar()">&times;</button>
    </div>

    <div class="dialog-body">
        <div class="campo-grupo">
            <label>ID de Incidencia General</label>
            <input type="text" [value]="data.incidencia.codigoIncidencia" disabled>
        </div>

        <div class="campo-grupo">
            <label>Titulo Incidencia</label>
            <input type="text" [value]="data.incidencia.titulo" disabled>
        </div>

        <div class="campo-grupo">
            <label>Descripción</label>
            <textarea disabled>{{data.incidencia.descripcion}}</textarea>
        </div>

        <div class="campo-grupo">
            <label>Codigo Maquina</label>
            <input type="text" [value]="data.incidencia.codigoMaquina" disabled>
        </div>

        <div class="campo-grupo">
            <label>Fecha Creacion</label>
            <input type="text" [value]="data.incidencia.fechaCreacion" disabled>
        </div>

        <div class="campo-grupo">
            <label>Estado de la Incidencia</label>
            <input type="text" [value]="data.incidencia.estadoIncidencia" disabled>
        </div>


        <hr><br>

      <div class="campo-grupo">
        <label>Fecha Finalización Incidencia</label>
        <input type="text" [value]="data.incidencia.fechaFinalizacion ? data.incidencia.fechaFinalizacion : 'Aún no finalizada'" disabled >
      </div>

        <div class="campo-grupo">
            <label>Descripcion de la Solucion</label>
            <input type="text" [value]="data.incidencia.descripcionSolucion ? data.incidencia.descripcionSolucion : 'Incidencia aun no finalizada'" disabled>
        </div>

      <div class="campo-grupo">
        <label>Duracion de la Incidencia</label>
        <input type="text" [value]="data.incidencia.duracionMinutos" disabled>
      </div>

    </div>

    <div class="dialog-footer">
        <button class="btn-secundario" (click)="cerrar()">Cerrar</button>
    </div>
</div>
